label {
    font-weight: bold;
}
.legend { list-style: none; }
.legend li { float: left; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }
.legend .green { background-color: #4dbd74; }
.legend .red { background-color: #f86c6b; }

.btn-margin-left { margin-left: 15px;}